/config/server/02-firewall/etc/fail2ban/data/
/config/server/02-firewall/etc/fail2ban/scripts
/config/server/02-firewall/etc/fail2ban/badbots.txt
/config/server/xx-attack/data/
/config/server/xx-attack/scripts/addresses.net.list
/config/server/xx-attack/scripts/badbots.txt
/config/server/xx-attack/scripts/ip-bot-filter-require.conf
/config/server/xx-attack/scripts/robots.txt
